h1 {
  font-family: 'Vast Shadow', cursive;
  letter-spacing: 3px;
}

.jumbotron .shaded-area {
  margin: 5px;
  display:block;
  padding: 0px;
  background-color: rgba(255,255,255, 0.30);
  font-family: 'Poiret One', cursive;
  text-align: right;
  letter-spacing: 3px;
}

.jumbotron {
  background-color: #ECDB70;
}

.button-menu {
  margin: 2px 2px;
}

.button {
  display:inline-block;
  width:24%;
  text-align: center;
  text-transform:lowercase;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: black;
}

.well {
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-family: 'Poiret One' , cursive;
  letter-spacing: 5px;
}
