/* Main Page Banner */
h1 {
  font-family: 'Vast Shadow', cursive;
  letter-spacing: 3px;
  text-align: center;
}

.jumbotron .shaded-area {
  font-family: 'Poiret One', cursive;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 3px;
  color: white;
}

.jumbotron {
  background-color: #ECDB70;
}


/* Button Menu */
.button-menu {
  margin: 2px 2px;
}

.button {
  display:inline-block;
  width:24%;
  text-align: center;
  text-transform:lowercase;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: black;
}


/* Background Banner */
.well {
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-family: 'Poiret One' , cursive;
  letter-spacing: 5px;
  background-image: url(https://register.extension.iastate.edu/images/display/background-overlay-final.png);
  background-color: #AC99CE;
}

.well h2 {
  font-weight: bolder;
  color: white;
}


/* Background Body  */
.panel-body .background-body {
  font-family: 'Lato' , sans-serif;
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 2px;
}

.panel-body .background-body h4 {
  font-weight: bolder;
  text-decoration: underline;
}


/* About Me Body */
.panel-body .aboutme-body {
  font-family: 'Lato' , sans-serif;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.panel-body .aboutme-body h4 {
  font-weight: bolder;
  text-decoration: underline;
}

.panel-body .aboutme-body img {
  width: 250px;
  float: right;
  padding-left: 2px;
  margin: 10px;
}
